/*general selector added to change default browser display*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles for the body element*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
}

/*Header*/
header{
    background-color: #2B4162;
}

/*Main Content*/
main{
    background-color: #F5F0F6;
    /*Make main content take up any surplus space to push footer down*/
    flex: 1 0 auto;

}

/*Footer*/
footer{
    background-color: #8F754F;
}